[MASTER]
init-hook='import sys; sys.path.append(".")'

# Загрузка плагинов Pylint
load-plugins=pylint_django
django-settings-module=core.settings

max-line-length=88
ignore=CVS,.git,__pycache__,migrations,settings.py,manage.py,venv

[MESSAGES CONTROL]
# Отключение некоторых предупреждений и ошибок Pylint для уменьшения шума.
disable=
    missing-docstring,  # отсутствие строки документации
    invalid-name,  # недопустимое имя
    too-few-public-methods,  # слишком мало публичных методов
    too-many-arguments,  # слишком много аргументов
    too-many-locals,  # слишком много локальных переменных
    too-many-instance-attributes,  # слишком много атрибутов экземпляра
    too-many-branches,  # слишком много ветвлений
    too-many-statements,  # слишком много операторов
    duplicate-code  # дублирование кода

[FORMAT]
# Максимальное количество символов в одной строке.
max-line-length=88

# Строка, используемая в качестве единицы отступа.
indent-string='    '

[BASIC]
# Хорошие имена переменных, которые всегда должны быть приняты, разделенные запятыми.
good-names=i,j,k,e,x,y,z

# Имена аргументов, которые соответствуют этому выражению, будут считаться допустимыми.
argument-rgx=[a-z_][a-z0-9_]{0,30}$

# Имена переменных, которые соответствуют этому выражению, будут считаться допустимыми.
variable-rgx=[a-z_][a-z0-9_]{0,30}$

# Имена функций, которые соответствуют этому выражению, будут считаться допустимыми.
function-rgx=[a-z_][a-z0-9_]{0,30}$

# Имена модулей, которые соответствуют этому выражению, будут считаться допустимыми.
module-rgx=(([a-z_][a-z0-9_]*)|([A-Z][a-z0-9]*)+)$

# Имена констант, которые соответствуют этому выражению, будут считаться допустимыми.
const-rgx=(([A-Z_][A-Z0-9_]*)|(__.*__))$

# Имена классов, которые соответствуют этому выражению, будут считаться допустимыми.
class-rgx=[A-Z_][a-zA-Z0-9]+$

# Имена методов, которые соответствуют этому выражению, будут считаться допустимыми.
method-rgx=[a-z_][a-z0-9_]{2,30}$

[TYPECHECK]
# Список имен модулей, для которых атрибуты членов не должны проверяться (полезно для
# модулей/проектов, где пространства имен манипулируются во время выполнения и, следовательно, не могут быть
# обнаружены статически).
ignored-modules=

# Список имен классов, для которых атрибуты членов не должны проверяться (полезно для
# классов с динамически установленными атрибутами).
ignored-classes=

[DESIGN]
# Максимальное количество аргументов для функции / метода.
max-args=10

# Максимальное количество атрибутов для класса (см. R0902).
max-attributes=10

[REPORTS]
# Установите формат вывода. Доступные форматы: text, parseable, colorized, msvs (visual studio) и html.
output-format=colorized
