{% extends 'main/layout.html' %}

{% block title %} Страница профиля {% endblock %}

{% block content %}
    <h2 class="text-[24px]">Страница профиля</h2>
    <div class="w-full h-[90vh] flex flex-col justify-center items-center">
        <div class="flex flex-col text-left">
            <div class="mb-[20px]">Логин: <strong>{{ user }}</strong></div>
            <div class="mb-[20px]">Электронный адрес: <strong>{{ user.email }}</strong></div>
            <div class="mb-[20px]">Имя: <strong>{{ user.first_name }}</strong></div>
            <div class="mb-[30px]">Фамилия: <strong>{{ user.last_name }}</strong></div>
            <div class="mb-[30px]">Группа: <strong>{{ user.groups }}</strong></div>
        </div>
        {% if user.is_authenticated %}
            <a class="btn px-[50px] py-[10px]" href="{% url 'logout' %}">Выйти</a>
        {% endif %}
    </div>
{% endblock %}